.nav-menu {
  position: fixed;
  width: 100%;
  bottom: 0%;
  display: flex;
  justify-content: space-between;

  .nav-link,
  .nav-home {
    height: 50px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #222;
    text-decoration: none;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;

    &:hover {
      background-color: #333;
      color: #fff;
    }
  }

  .nav-link {
    width: 23.5%;
  }

  .nav-home {
    &.is--brand {
      flex-grow: 1;
      justify-content: center;

      img.logo {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
      }
    }
  }
}
