.component-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.375rem;
  width: 80%;
  max-width: 75.625rem;
  margin: 0px auto;
  padding: 7rem 0px 0px;
}

.component-main-header {
  font-family: "SOYOMapleBoldTTF";
  color: rgb(18, 18, 18);
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.375rem;
  letter-spacing: -0.5rem;
}

.component-sub-header {
  font-family: "HakgyoansimWoojuR";
  color: rgb(80, 74, 87);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}
