* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 48px 0;
}

.header,
.footer {
  z-index: 90;
  width: 100%;
  height: 48px;
  background-color: #fff;
  border: 3px solid #141414;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: absolute;
  overflow: hidden;
}

.header {
  top: 0;
}

.footer {
  z-index: 70;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.inner-box {
  position: absolute;
  background-color: white;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  font-size: 50px;
  align-items: center;
  background-color: #fff;
  color: #222;
  &:hover {
    background-color: #333;
    color: #fff;
  }

  transition:
    width 0.5s,
    height 0.5s,
    transform 0.5s;
}

.contact {
  width: 60%;
  height: 40%;
  top: 0;
  left: 0;
}

.history {
  width: 40%;
  height: 60%;
  top: 0;
  right: 0;
}

.project {
  width: 40%;
  height: 60%;
  bottom: 0;
  left: 0;
}

.strength {
  width: 60%;
  height: 40%;
  bottom: 0;
  right: 0;
}
.inner-box {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    width 0.5s,
    height 0.5s,
    transform 0.5s;
}

.logo {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.user-info {
  width: 20%;
  height: 20%;
  top: 50%;
  left: 50%;
  background-color: #222;
  color: #222;
  &:hover {
    background-color: #333;
    color: #fff;
  }
  transform: translate(-50%, -50%);
}

/* contact가 확장될 때의 효과 */
.container[data-hovered="contact"] .contact {
  width: 65%;
  height: 50%;
}

/* contact가 확장될 때 다른 박스들의 크기 */
.container[data-hovered="contact"] .history {
  width: 35%;
  height: 70%;
}

.container[data-hovered="contact"] .project {
  width: 45%;
  height: 50%;
}

.container[data-hovered="contact"] .strength {
  width: 55%;
  height: 30%;
}

.container[data-hovered="contact"] .user-info {
  transform: translate(-25%, 0%);
}

/* history가 확장될 때의 효과 */
.container[data-hovered="history"] .history {
  width: 50%;
  height: 65%;
}

/* history가 확장될 때 다른 박스들의 크기 */
.container[data-hovered="history"] .contact {
  width: 50%;
  height: 45%;
}

.container[data-hovered="history"] .project {
  width: 30%;
  height: 55%;
}

.container[data-hovered="history"] .strength {
  width: 70%;
  height: 35%;
}

.container[data-hovered="history"] .user-info {
  transform: translate(-100%, -25%);
}

/* project가 확장될 때의 효과 */
.container[data-hovered="project"] .project {
  width: 60%;
  height: 75%;
}

/* project가 확장될 때 다른 박스들의 크기 */
.container[data-hovered="project"] .contact {
  width: 80%;
  height: 25%;
}

.container[data-hovered="project"] .history {
  width: 20%;
  height: 45%;
}

.container[data-hovered="project"] .strength {
  width: 40%;
  height: 55%;
}

.container[data-hovered="project"] .user-info {
  transform: translate(50%, -125%);
}

/* strength가 확장될 때의 효과 */
.container[data-hovered="strength"] .strength {
  width: 70%;
  height: 50%;
}

/* strength가 확장될 때 다른 박스들의 크기 */
.container[data-hovered="strength"] .contact {
  width: 50%;
  height: 30%;
}

.container[data-hovered="strength"] .history {
  width: 50%;
  height: 50%;
}

.container[data-hovered="strength"] .project {
  width: 30%;
  height: 70%;
}

.container[data-hovered="strength"] .user-info {
  transform: translate(-100%, -100%);
}

/* userInfo가 확장될 때의 효과 */
.container[data-hovered="user-info"] .user-info {
  width: 40%;
  height: 40%;
}

/* userInfo가 확장될 때 다른 박스들의 크기 */
.container[data-hovered="user-info"] .contact {
  width: 30%;
  height: 70%;
}

.container[data-hovered="user-info"] .history {
  width: 70%;
  height: 30%;
}

.container[data-hovered="user-info"] .project {
  width: 70%;
  height: 30%;
}

.container[data-hovered="user-info"] .strength {
  width: 30%;
  height: 70%;
}
